<div class="row">
  <div class="col-md-6">
    <h3>8月5日（火）</h3>
    <table class="table table-striped">
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>10:00</td>  <td>概要とセットアップ</td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://bioconductor-translations.github.io/bioc-intro-ja/10-data-organisation.html">スプレッドシートを使用したデータ整理</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-intro-ja/20-r-rstudio.html">RとRStudio</a></td> </tr>
      <tr> <td>12:00</td>  <td>昼休み</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-intro-ja/25-starting-with-data.html">データから始める</a></td> </tr>
      <tr> <td>14:45</td>  <td>休憩</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-intro-ja/30-dplyr.html">dplyrによるデータの操作と分析</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-intro-ja/40-visualization.html">データの可視化</a></td> </tr>
      <tr> <td>17:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>8月6日（水）</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/02-introduction-to-bioconductor.html">Bioconductorの概要</a></td> </tr>
      <tr> <td>10:40</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/03-installing-bioconductor.html">Bioconductor パッケージのインストール</a></td> </tr>
      <tr> <td>11:00</td>  <td>休憩</td> </tr>
      <tr> <td>11:10</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/04-getting-help.html">ヘルプの取得</a></td> </tr>
      <tr> <td>12:00</td>  <td>昼休み</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/05-s4.html">BioconductorにおけるS4クラス</a></td> </tr>
      <tr> <td>13:10</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/06-biological-sequences.html">生物学的配列の取り扱い</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/07-genomic-ranges.html">Genomics ranges の取り扱い</a></td> </tr>
      <tr> <td>15:00</td>  <td>休憩</td> </tr>
      <tr> <td>15:10</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/08-annotations.html">アノテーションの取り扱い</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://bioconductor-translations.github.io/bioc-project-ja/09-summarizedexperiment.html">SummarizedExperiment クラス</a></td> </tr>
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr> -->
      <tr> <td>17:00</td>  <td>終了</td> </tr>
    </table>
  </div>
</div>
